.carousel__slide {
  padding: 5px;
}

// .carousel__viewport {
//   perspective: 100%;
// }

.carousel__track {
  transform-style: preserve-3d;
}

.carousel__slide--sliding {
  transition: 0.5s;
}

.carousel__slide {
  opacity: 0.9;
  transform: rotateY(-20deg) scale(0.9);
}

.carousel__slide--active ~ .carousel__slide {
  transform: rotateY(20deg) scale(0.9);
}

.carousel__slide--prev {
  opacity: 1;
  transform: rotateY(-10deg) scale(0.95);
}

.carousel__slide--next {
  opacity: 1;
  transform: rotateY(10deg) scale(0.95);
}

.carousel__slide--active {
  opacity: 1;
  transform: rotateY(0) scale(1.1);
}
.carousel__prev,
.carousel__next {
  img {
    width: 40px;
    object-fit: contain;
  }
}
.rankCarouselText {
  font-size: 1.125rem;
  color: #444;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  @media (min-width: 576px) {
    font-size: 1.125rem;
  }
}
